# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 791fa8e33e90840b82444581e72a74452627de6f845e071b7bef2ed78791d999edae23f2f99d7f7247c4875271101d16117ae23430395f8f66f3800d658610ca

test:
  secret_key_base: 9da6b7b18ffb8d0ef1377c0d2dff7e5fdb8b82f03702b3f9be23b05157e61d362deeca93defd35ff8dab6f938d559ab6b31b43cf4f883ee1310e12ae90df174b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
